.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:dodgerblue;
    color: white;
    height: 55px;
    text-align: center;
    padding-top:14px;
    font-size: 15px;

 }