<mat-toolbar color="primary">
    
    <span><mat-icon>eco</mat-icon>LetsPlay</span>
    <div class="spacer">

    </div>
    <a mat-button  routerLink="/home">Home</a>
    <a mat-button  routerLink="/about">About Us</a>
    <a mat-button routerLink="/contact" >Contact Us</a>
    <a mat-button  routerLink="/service">Service</a>
    <a mat-raised-button color="accent" routerLink="/sign">Sign Up</a>
    

</mat-toolbar>
