<app-navbar></app-navbar>
      <br>
      <div class="container">
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom:15%"> Q1.What is your City?.</h2> 
                    </th>
                    
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: green;" for="age1">A. Mumbai</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Pune</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Gova</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. Hyderabd</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15% ;">Explanation:No.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
          
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%" > Q1.What is your Name?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: red;" for="age1">A. Rupali</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Pushpa</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color:green" for="age1">C. Mayuri</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. Harsha</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:My name is Mayuri.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%;"> Q1.What is your current Location?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: green;" for="age1">A. Mumbai</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Pune</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Gova</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. Hyderabd</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:No.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%;"> Q1.What is your Friend Name?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: red;" for="age1">A. Mahesh</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Priyansh</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Gautam</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color:green" for="age1">A. Harshad</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:My friend name Harshad.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%;"> Q1.What is your current Location?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: green;" for="age1">A. Mumbai</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Pune</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Gova</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. Hyderabd</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:No.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        

      </div>
       
      
      <div>
          <ul class = "pagination" style="margin-left: 700px;font-size:15px">
              <li class = "page-item"> <a class="page-link" href="100"> << </a> </li>
              <li class = "page-item"> <a class="page-link" href="/100"> 1 </a> </li>
              <li class = "page-item"> <a class="page-link" href="/200"> 2 </a> </li>
              <li class = "page-item"> <a class="page-link" href="/300"> 3 </a> </li>
              
              <li class = "page-item"> <a class="page-link" href="300"> >> </a> </li>
          </ul>
          

      </div> 


      