
<!-- Registration Section -->
<section class="registation-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="registration-form-div">
                        <h1 class="title" style="text-align: center;font-size:64px;color: cornflowerblue ">"Bicon-Q"</h1>
                    <p class="title" style="text-align: center ;font-size: 25px;">Login Form</p>
                    <form novalidate [formGroup]="loginForm" name="loginForm" (ngSubmit)="Submit()">
                        <div class="row" style="text-align: center" >
                            <div class="col-md-12 form-grids" > 
                                <mat-form-field appearance="outline" style="width: 24em" >
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username"  required  formControlName="username">
                                    <mat-error *ngIf="request.username.invalid"> {{getusernnameError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-12 form-grids">
                                <mat-form-field appearance="outline" style="width: 24em">
                                    <mat-label>Password</mat-label>
                                    <input  type="password" matInput placeholder="Password" required  formControlName="password">
                                    <mat-error *ngIf="request.password.invalid"> {{getpasswordError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                        </div>    
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="submit-btn" mat-raised-button>Login</button> 
                            </div> 
                        </div>
                    </form>
                    <hr>
                    <div class="row " style="text-align:center;margin-left:128px;">
                        <div class="col-md-6 mg-top-10">
                            <a class="signup-anch" [routerLink]="['/forgot-password']">Forgot Password</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>