<app-navbar></app-navbar>
      <br>
      <div class="container">
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom:15%"> Q1.How many Hands you have?</h2> 
                    </th>
                    
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. 1</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;color: green;" for="age2">B.2</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. 3</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color:red" for="age1">A. 4</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15% ;">Explanation:I have Two hands.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
          
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%" > Q1.How many Friends you have?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: red;" for="age1">A. 10</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. 30</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color:green" for="age1">C. 15</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. 4</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation: I have 15 friends.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%;"> Q1.What is your father?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: green;" for="age1">A. Farmer</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%; color:red" for="age2">B. Doctor</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Police</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">A. Officer</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:My father is Farmer.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
            <div class="col-sm-12">
                <table>
                    <th>
                        <h2 style="margin-bottom: 15%;"> Q1.What is your Friend Name?.</h2> 
                    </th>
                    
                    <tbody>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color: red;" for="age1">A. Mahesh</label>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age2">B. Priyansh</label>  <br>
                           
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;" for="age1">C. Gautam</label><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                            <label style="font-size: 130%;color:green" for="age1">A. Harshad</label>
                        </td>
                      </tr>
                      <tr>
                        <h2 style="margin-top:15%;">Explanation:My friend name Harshad.</h2>
                      </tr>
                    </tbody>
                  </table>
                 
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:30%;margin-top:2%;">
                <div class="col-sm-12">
                    <table>
                        <th>
                            <h2 style="margin-bottom: 15%;"> Q1.What is your Mother Name?.</h2> 
                        </th>
                        
                        <tbody>
                          <tr>
                            <td>
                                <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                                <label style="font-size: 130%;color: red;" for="age1">A. Mangal</label>
                            </td>
                          </tr>
                          
                          <tr>
                            <td>
                                <input type="radio" id="age2" name="age" value="60" style="font-size: 130%;">
                                <label style="font-size: 130%;" for="age2">B. Sunita</label>  <br>
                               
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                                <label style="font-size: 130%;" for="age1">C. Sangita</label><br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input type="radio" id="age1" name="age" value="30" style="font-size: 130%;">
                                <label style="font-size: 130%;color:green" for="age1">A. Anita</label>
                            </td>
                          </tr>
                          <tr>
                            <h2 style="margin-top:15%;">Explanation:My Mother name is Anita.</h2>
                          </tr>
                        </tbody>
                      </table>
                     
                </div>
            </div>
            <br>
        

      </div>
       
      
      <div>
          <ul class = "pagination" style="margin-left: 700px;font-size:15px">
              <li class = "page-item"> <a class="page-link" href="100"> << </a> </li>
              <li class = "page-item"> <a class="page-link" href="/100"> 1 </a> </li>
              <li class = "page-item"> <a class="page-link" href="/200"> 2 </a> </li>
              <li class = "page-item"> <a class="page-link" href="/300"> 3 </a> </li>
              
              <li class = "page-item"> <a class="page-link" href="300"> >> </a> </li>
          </ul>
          

      </div> 


      