
 .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 0px 0px; 
    border-radius: 15px; 
    font-size: 15px; 
    text-align:center; 
    margin: 5px;
 }
 .btn-square.btn-sm { 
   width: 30px; 
   height: 30px; 
   padding: 0px 0px;  
   font-size: 15px; 
   text-align:center; 
   margin: 5px;
}
.btn-triangle.btn-sm { 
   width: 30px; 
   height: 30px; 
   padding: 0px 0px;  
   font-size: 15px; 
   text-align:center; 
   margin: 5px;
}
 .img {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .button {
   background-color: #4CAF50; /* Green */
  border: none;
  width: 30px; 
   height: 30px; 
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 5px;
 }
 .button5 {border-radius: 30%;}
.btn-outline-primary.btn-sm {
   width: 30px; 
   height: 30px; 
   padding: 0px 0px;  
   font-size: 15px; 
   text-align:center; 
   margin: 5px;

}