
<!-- Registration Section -->
<section class="registation-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="registration-form-div">
                        <h1 class="title" style="text-align: center;font-size:64px;color: cornflowerblue "></h1>
                    <p class="title" style="text-align: center ;font-size: 25px;">Verification Form</p>
                    <form novalidate [formGroup]="VerificationForm" name="loginForm" (ngSubmit)="Submit()">
                        <div class="row" style="text-align: center" >
                            <div class="col-md-12 form-grids" > 
                                <mat-form-field appearance="outline" style="width: 24em" >
                                    <mat-label>Enter Email OTP</mat-label>
                                    <input matInput placeholder="Enter Email OTP"  required style="text-align: center" formControlName="emailotp">
                                    <mat-error *ngIf="request.emailotp.invalid"> {{getemailotpError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-12 form-grids">
                                <mat-form-field appearance="outline" style="width: 24em">
                                    <mat-label>Enter Mobile OTP</mat-label>
                                    <input  type="text" matInput placeholder="Enter Mobile OTP" required style="text-align: center" formControlName="mobileotp">
                                    <mat-error *ngIf="request.mobileotp.invalid"> {{getmobileotpError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                        </div>    
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="submit-btn" mat-raised-button>Verify</button> 
                            </div> 
                        </div>
                    </form>
                    
                </div>    
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
