<nav style="border-radius: 40px" class="navbar navbar-expand-lg navbar-light bg-info">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul style="margin:5px"  class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Disabled</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">sales</a>
          </li>
      </ul>
    </div>
  </nav>





<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        <div class="img" style="background-image:
                                                                url('https://i.pinimg.com/236x/71/b3/e4/71b3e4159892bb319292ab3b76900930.jpg');
                                                                width: 50px;
     height: 50px;
     padding:4px;
     border:solid 3px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;"></div>  
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-envelope"></i> </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-bell"></i></a>
        </li>
        
  

      </ul>
    </div>
    
  </div>
</nav>
<br>



<!-- Page Content -->
<div class="container">
    
  </div>
  <!-- /.container -->
  <div class="container body">
    <div class="main_container">
      
      <div class="right_col" role="main">
        <div>
          <div class="x_panel">
            <div class="x_title">
              
              <div class="clearfix"></div>
            </div>
  
            <div class="x_content">
              <br />
              <h1>Lets Start Learning</h1>
              <div class="row">
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/hotel-inquiries']">
                    <div>
                      <div class="box-1">
                        <i class="material-icons">location_city</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.hotelInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Hotel Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/holiday-inquiries']">
                    <div>
                      <div class="box-2">
                        <i class="material-icons">card_travel</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.holidayInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Holiday Package Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div> -->
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/visa-inquiries']">
                    <div>
                      <div class="box-3">
                        <i class="material-icons">payment</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.visaInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Visa Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/insurance-inquiries']">
                    <div>
                      <div class="box-4">
                        <i class="material-icons">local_hospital</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.insuranceInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Insurance Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
  <h1>Recommended For You?</h1>
              <div class="row mg-top-30">
                <!-- <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/currency-inquiries']">
                    <div>
                      <div class="box-5">
                        <i class="material-icons">attach_money</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.currencyInquiries}} </span>
                      </div>

                      <div class="bottom-strip">
                        <span> Total Currency Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div> -->
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/flight-inquiries']">
                    <div>
                      <div class="box-6">
                        <i class="material-icons">flight</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.flightInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Flight Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/car-inquiries']">
                    <div>
                      <div class="box-7">
                        <i class="fa fa-car"></i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.carInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Car Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-3 counter-box">
                  <a [routerLink]="['/contact-us-inquiries']">
                    <div>
                      <div class="box-8">
                        <i class="material-icons">drafts</i>
                        <span *ngIf="totalInquiries"> {{totalInquiries.contactUsInquiries}} </span>
                      </div>
                      <div class="bottom-strip">
                        <span> Total Contact Us Inquiries</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>