.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .counter-box{
    border: 2px solid burlywood;
    margin: 5px;
    border-radius: 10px;
  }
  /* Counter Box Common CSS */
.counter-box div:first-child{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.counter-box i{
    font-size: 4em;
    color: #fff;
    margin-left: 15px;
}
.counter-box span{
    font-size: 2em;
    color: #fff;
    margin-left: 4em;
}
.counter-box .bottom-strip{
    background: #fbfafa;
    padding: 6px 0 4px 0;
    text-align: center;
}
.counter-box .bottom-strip span{
    margin-left: 4px;
    color: #585858;
    font-size: 14px;
    
}

/* Box 1 */
.box-1{
    background: #F86C6B;
    height: 8em;
    padding-top: 2em;
    background-size: cover
}
.box-2{
    background: #63C2DE;
    height: 8em;
    padding-top: 2em;
    background-size: cover
}
.box-3{
    background: #f79a6e;
    height: 8em;
    padding-top: 2em;
    background-size: cover
}
.box-4{
    background: #37cdda;
    height: 8em;
    padding-top: 2em;
}
.box-5{
    background: #769aff;
    height: 8em;
    padding-top: 2em;
}
.box-6{
    background: #14ce9a;
    height: 8em;
    padding-top: 2em;
}
.box-7{
    background: #a4c106;
    height: 8em;
    padding-top: 2em;
}
.box-8{
    background: #efbd09;
    height: 8em;
    padding-top: 2em;
}


