section.registation-sec{
    /* background: #f1f1f1; */
    padding:70px 0;
}
.registration-form-div {
    /* background: #fff; */
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 20px 52px -5px #212121;
    
    max-width: 40%;
    margin:auto;
    height: 60em;
}
p.totl-days-night, p.pckage-descrptn  {
    font-size: 14px;
}
p.totl-days-night span:first-child{
    margin-right: 10px;
    letter-spacing: 0.5px;
}
button.submit-btn.mat-raised-button {
    background: #0e3f7d;
    color: #fff;
    min-width: unset;
    padding: 1px 50px;
    border: 0px;
    font-size: 17px;
}
button.submit-btn.mat-raised-button:focus{
    outline: none;
    box-shadow: none;
}
a.signup-anch {
    font-size: 14px;
    color: #888;
    text-decoration: none;
}