

<!-- Registration Section -->
<section class="registation-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="registration-form-div">
                        <h1 class="title" style="text-align: center;font-size:34px;color: cornflowerblue">"Bicon-Q"</h1>
                    <p class="title" style="text-align: center ;font-size: 15px;">Registration Form</p>
                    <form novalidate [formGroup]="registration" name="registration" (ngSubmit)="Submit()">
                        <div class="row" style="text-align: center">
                            <div class="col-md-12 form-grids"> 
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" required  formControlName="name">
                                    <mat-error *ngIf="request.name.invalid"> {{getnameError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-12 form-grids"> 
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" required  formControlName="email">
                                    <mat-error *ngIf="request.email.invalid"> {{getemailError()}} </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 form-grids"> 
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label>Phone</mat-label>
                                    <input matInput placeholder="Phone" required  formControlName="phone">
                                    <mat-error *ngIf="request.phone.invalid"> {{getphoneError()}} </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 form-grids"> 
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput placeholder="Company Name" required  formControlName="company_name">
                                    <mat-error *ngIf="request.company_name.invalid"> {{getcompanynameError()}} </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div class="col-md-12 form-grids">
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label>Occupation</mat-label>
                                    <input type="text" matInput placeholder="Occupation" required  formControlName="occupation">
                                    <mat-error *ngIf="request.occupation.invalid"> {{getoccupationError()}} </mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-12 form-grids">
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label> Recent Education</mat-label>
                                    <input type="text" matInput placeholder="Recent Education" required  formControlName="recent_education">
                                    <mat-error *ngIf="request.recent_education.invalid"> {{getrecenteducation()}} </mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-12 form-grids">
                                <mat-form-field appearance="outline"  style="width: 24em">
                                    <mat-label> Subscription_Code</mat-label>
                                    <input type="text" matInput placeholder="Subscription_Code" required  formControlName="subscription_code">
                                    <mat-error *ngIf="request.subscription_code.invalid"> {{getsubscriptioncode()}} </mat-error>
                                </mat-form-field>
                            </div> 
                        </div>    
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="submit-btn" mat-raised-button>Submit</button> 
                            </div> 
                        </div>
                    </form>
                    <hr>
                    <div class="row " style="text-align:center;margin-left:158px;">
                        <div class="col-md-6 mg-top-10">
                            <a class="signup-anch" [routerLink]="['/login']">Member Login</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    
    </div>
</section>
<app-footer></app-footer>